#g-footer {
  background: $footer-background;
  color: $footer-text-color;
  padding: $section-padding 0;
  position: relative;
  z-index: 20;

  .g-content {
    margin: $content-margin 0;
  }
}

@media print {
  #g-footer {
    background: #fff !important;
    color: #000 !important;
  }
}
