#g-main {
  background: $main-background;
  color: $main-text-color;
  padding: $section-padding 0;

  .e-content {
    img {
      display: block;
      margin: 40px auto;
    }
  }

  @include breakpoint(mobile-only) {
    padding: 0;
  }
}

@media print {
  #g-main {
    background: #fff !important;
    color: #000 !important;
  }
}
