#g-slide {
  background: $slide-background;
  color: $slide-text-color;
  padding: $section-padding;

  @include breakpoint(mobile-only) {
    padding: 0;
  }
}

@media print {
  #g-slide {
    background: #fff !important;
    color: #000 !important;
  }
}
