// Basics
$white: #ffffff;
$black: #000000;
$off-white: #ebebeb;

// Base
$base-background: #ffffff !default;
$base-text-color: #444444 !default;
$base-border-color: #e0e0e5 !default;

// Accents
$accent-color-1: #2980b9 !default;
$accent-color-2: #234264 !default;

// Links
$link-regular: #2980b9 !default;
$link-hover: #234264 !default;

// Page Surround
$pagesurround-background: $base-background !default;

// Header
$header-background: #3b3b3b !default;
$header-text-color: #ffffff !default;
$header-background-image: false !default;
$header-background-overlay: false !default;

// Navigation
$navigation-background: #3b3b3b !default;
$navigation-text-color: #ffffff !default;
$navigation-dynamic-layout: false !default;

// Sub Navigation
$subnavigation-background: #3b3b3b !default;
$subnavigation-text-color: #ffffff !default;

// Intro
$intro-background: #ffffff !default;
$intro-text-color: #444444 !default;
$intro-background-image: false !default;
$intro-background-overlay: false !default;
$intro-background-parallax: false !default;

// Showcase
$showcase-background: #6886a3 !default;
$showcase-text-color: #ffffff !default;
$showcase-background-image: false !default;
$showcase-background-overlay: false !default;
$showcase-background-parallax: false !default;

// Features
$features-background: #ffffff !default;
$features-text-color: #444444 !default;

// Utility
$utility-background: #444444 !default;
$utility-text-color: #ffffff !default;
$utility-background-image: false !default;
$utility-background-overlay: false !default;
$utility-background-parallax: false !default;

// Above
$above-background: #ffffff !default;
$above-text-color: #444444 !default;

// Main
$main-background: #ffffff !default;
$main-text-color: #444444 !default;

// Below
$below-background: #ffffff !default;
$below-text-color: #444444 !default;

// Banner
$banner-background: #ffffff !default;
$banner-text-color: #444444 !default;
$banner-background-image: false !default;
$banner-background-overlay: false !default;
$banner-background-parallax: false !default;

// Slide
$slide-background: #ffffff !default;
$slide-text-color: #444444 !default;

// Bottom
$bottom-background: #ffffff !default;
$bottom-text-color: #444444 !default;
$bottom-background-image: false !default;
$bottom-background-overlay: false !default;
$bottom-background-parallax: false !default;

// Testimonials
$testimonials-background: #ffffff !default;
$testimonials-text-color: #444444 !default;
$testimonials-background-image: false !default;
$testimonials-background-overlay: false !default;
$testimonials-background-parallax: false !default;

// Footer
$footer-background: #3b3b3b !default;
$footer-text-color: #ffffff !default;

// Copyright
$copyright-background: #3b3b3b !default;
$copyright-text-color: #ffffff !default;

// Off Canvas
$offcanvas-background: #2980b9 !default;
$offcanvas-text-color: #ffffff !default;
$offcanvas-toggle-color: #234264 !default;

// Block Variations
$box1-background: $accent-color-1 !default;
$box2-background: $accent-color-2 !default;
$box3-background: $navigation-background !default;

// System Messages and Alerts
$warning-color: #c09853;
$error-color: #b94a48;
$info-color: #3a87ad;
$success-color: #468847;

// Typography
$rule-color: $base-border-color;
$code-text: #c7254e;
$code-bg: #f9f2f4;
$pre-text: #237794;
$pre-bg: #f6f6f6;

// Borders
$border-color-hover: $accent-color-1;
$border-color-focus: $accent-color-1;
$border-color-light: rgba(0, 0, 0, 0.1);

// Shadows
$base-box-shadow: 0 0 4px fade-out($accent-color-1, 0.5);
