// Content Block Spacing Variables
$content-margin:			0.625rem !default;
$content-padding:			0.938rem !default;

$section-padding:			2.5rem;
$core-border-radius:		0; //0.25rem;
$border-radius:				0; //0.25rem;

$intro-padding:             false !default;
$utility-padding:           false !default;
$copyright-padding:         false !default;
