.g-horizontalmenu {
  list-style: none;
  margin: 0;
  padding: 0;
  font-family: get-font-family($font-family-title);
  font-weight: $font-weight-bold;
  padding: 0.5rem 0;

  @include breakpoint(mobile-only) {
    text-align: center;
  }

  li {
    display: inline-block;

    &:after {
      content: "/";
      margin:0 10px 0 10px;
    }

    a {
      display: inline-block;
    }

    &:first-child {
      padding-left: 0;
    }

    &:last-child {
      padding-right: 0;

      &:after {
        content: none;
      }
    }
  }
}
