{% extends '@nucleus/partials/particle.html.twig' %}

{% block particle %}
    <div class="animated-branding {% if particle.filter.enable %} filter{% endif %}">
        <div class="intro">
            {% if particle.title %}
                <h1 class="wow fadeInUp" data-wow-delay=".4s">{{ particle.title|raw }}</h1>
            {% endif %}

            {% if particle.slug %}
                <h2 class="wow fadeInUp" data-wow-delay=".8s">{{ particle.slug|raw }}</h2>
            {% endif %}

            {% if particle.text %}
                <h3 class="wow fadeInUp visible-desktop" data-wow-delay="1.2ss">{{ particle.text|raw }}</h3>
            {% endif %}

        </div>
        <a href="{{ url(particle.scroll.to) }}">
            <div class="mouse-icon">
                <div id="wheel" class="wheel"></div>
            </div>
        </a>
    </div>
{% endblock %}